@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

.yeet {
    color: #fff;
    font-size: 25px;
    line-height: 30px;
}

